{% macro list(name) %}
	<span>
	{% if name is iterable %}
		{% for key, item in name %}
			<h3>{{ key }}</h3>
			{% if item is iterable %}
				{% for key2, item2 in item %}
					<h4>&nbsp;&nbsp;&nbsp;{{ key2 }}</h4>
					{% if item2 is iterable %}
						{% for key3, item3 in item2 %}
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ item3 }}</p>
						{% endfor %}
					{% else %}
						<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ item2 }}</p>
					{% endif %}
				{% endfor %}
			{% else %}
				<p>&nbsp;&nbsp;&nbsp;{{ item }}</p>
			{% endif %}
		{% endfor %}
	{% else %}
		<p>{{ name }}</p>
	{% endif %}
	</span>
{% endmacro %}