/* 
COULEURS :
-----------------
fond du site : 

gris-bleu 1 :  (normal)
gris-bleu 2 : 
gris-bleu 2 : 
gris-bleu 3 :  (foncé)

*/
 
/* ********************************************************************************* */
/* ************************************* GLOBALES ********************************** */
/* ********************************************************************************* */
* {
	/*font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;*/
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
	text-decoration:none;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-size: 12px;
}

a {
	color:#4f5864;
	border:none;
	cursor:pointer;
}
img {
	border:none;
}

div.ajaxload {
	display:block;
	width:100%;
	height:174px;
	margin:0px auto;
	background:transparent url('../images/ajax-loader.gif') center center no-repeat;
}

body {
	background: #fff url("images/FondSite_JPLartisien_05.png") top center no-repeat;
	color:#333;
}

h1 {
	margin: 8px 0px;
	text-align: left;
	letter-spacing: -1px;
	color: #AAA;
	font-size: 32px;
	font-weight: normal;
}
h1 >span {
	font-size: 32px;
	font-weight: bolder;
	color: #888;
	/*font-style: italic;*/
}

#error {
	width: 90%;
	background-color: transparent;
	margin: 150px auto;
	text-align: center;
}
#error p {
	margin: 4px auto;
	text-align: center;
	font-size: 18px;
	color: #215c7b;
	letter-spacing: -1px;
}


/* ********************************************************************************* */
/* ******************************** STRUCTURE DE PAGE ****************************** */
/* ********************************************************************************* */

div#big {
	clear: both;
	width: 1024px;
	margin:0px auto;
	min-height:500px;
	height:auto !important;
	height:500px;
}

div#signature {
	width: 240px;
	height: 97px;
	background: transparent url("images/signature.png") top left no-repeat;
	position: absolute;
	top: 0px;
	cursor: move;
}

/* **************************************************** */
/*     Menu page d'entrée                               */
/* **************************************************** */

table#Tableau_01 {
	display: block;
	margin: 120px auto 0px;
	border-spacing: 0px;
	border-collapse: collapse;
	border: none;
	padding: 0px;
}
table#Tableau_01 tr {
	border: none;
	margin: 0px;
	padding: 0px;
}
table#Tableau_01 td {
	border: none;
	margin: 0px;
	padding: 0px;
}
table#Tableau_01 img {
	border: none;
	margin: 0px;
	padding: 0px;
}

/* **************************************************** */
/*     Menu principal                                   */
/* **************************************************** */
div#menuPpal {
	width: 200px;
	position: absolute;
	top: 130px;
	left: 70px;
	cursor: move;
}
div#menuPpal >div#menucontainer {
	width: 200px;
	background: transparent url("images/menu_top.png") top left no-repeat;
	min-height:232px;
	height:auto !important;
	height:232px;
}
div#menuPpal >div#menucontainer >div:first-child {
	height: 182px;
	width: 200px;
}

div#menuPpal >div#menucontainer >ul#contenumenu {
	display: block;
	list-style-type: none;
	width: 200px;
}
div#menuPpal >div#menucontainer >ul#contenumenu >li {
	display: block;
	width: 200px;
	height: 24px;
	line-height: 24px;
	color: #333;
	text-align: center;
	cursor: pointer;
}
ul#contenumenu >li >a {
	color: #333;
	display: block;
	margin: 0px 0px 0px 17px;
	width: 163px;
}
ul#contenumenu >li:hover >a {
	background-color: #999;
	color: #fff;
	font-weight: bolder;
}
div#menuPpal >div#menubottom {
	clear: both;
	width: 200px;
	height: 70px;
	background: transparent url("images/menu_bottom.png") top left no-repeat;
}


/* ********************************************************************************* */
/* ****************************** FIN DE STRUCTURE DE PAGE ************************* */
/* ********************************************************************************* */

/* ********************************** */
/*     Menu top public                */
/* ********************************** */


/* ********************************** */
/*     Bouton change plateforme       */
/* ********************************** */
input#chgplateforme {
	height: 17px;
	width: 18px;
	border: none;
	background-color: transparent;
	cursor: pointer;
}
.typewide {
	background: transparent url("../images/plateforme_PC.png") no-repeat center top;
}
.typelittle {
	background: transparent url("../images/plateforme_mobile.png") no-repeat center top;
}


/* ********************************** */
/*     Bandeau de LOGIN / LOGOUT      */
/* ********************************** */
div#connect {
	width: 224px;
	height: 35px;
}
div#connect button {
	float: right;
	width: 120px;
	text-align: center;
}

/* TEXTES */

.rouge	{color:red;}
.orange	{color:orange;}
.vert	{color:green;}
.gris	{color:#333;}
.mini {
	font-size:0.7em;
	font-style:italic;
}

/* ********************************** */
/*    Formulaire de LOGIN / LOGOUT    */
/* ********************************** */
div#login {
	overflow: hidden;
}
div#login >form >div {
	margin: 8px 0px;
}
div#login >form >div >div {
	margin: 3px auto;
}
div#login >form >div >div >p {
	display: inline-block;
	/*float: left;*/
	width: 84px;
	text-align: right;
	color: #666;
	font-size: 13px;
	line-height: 18px;
}
div#login >form >div >div >input {
	width: 150px;
	height: 18px;
	font-size: 14px;
	line-height: 18px;
	display: inline-block;
	border: 0px solid #444;
	border-top:1px solid #444;
	border-left:1px solid #444;
	background-color: #777;
	color: #fff;
/*	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
*/	padding: 0px 4px;
}
div#login >form >div >p#errn {
	position: absolute;
	background-color: #fff;
	display: none;
	text-align: center;
	padding-top: 14px;
	width: 270px;
	height: 336px;
	font-weight: bolder;
	font-size: 14px;
	color: #c00;
}
